﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>1: 测试</title>

</head>
<body>
<div id="content">
<div id="main">的的 $screen_content</div>
</div>
</body>
</html> 